*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    font-style: normal;
}
body{
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}
#container{
    width: 100%;
}
#nav{
    width: 100%;
    overflow: hidden;
    margin-top: 2px;
}
#nav p{
    float: left;
    width: 320px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    background: #ffffff;
}
#nav p:nth-of-type(1){
    color: #000000;
}
#nav p:nth-of-type(2){
    color: #fe8f65;
    border-bottom: 2px solid #fe8f65;
}
#details{
    width: 100%;
    overflow: hidden;
}
#details li{
    width: 295px;
    height: 300px;
    background: #ffffff;
    margin: 12px 0 0 20px;
    overflow: hidden;
    float: left;
}
#details li p{
    font-size: 24px;
    color: #000000;
}
#details li:nth-of-type(1) img{
    margin: 25px 0 0 40px;
}
#details li:nth-of-type(1) p{
    margin: 30px 0 0 103px;

}
#details li:nth-of-type(2){
    margin: 12px 0 0 10px;
}
#details li:nth-of-type(2) img{
    margin: 25px 0 0 40px;
}
#details li:nth-of-type(2) p{
    margin: 21px 0 0 103px;
}
#details li:nth-of-type(3) img{
    margin: 25px 0 0 40px;
}
#details li:nth-of-type(3) p{
    margin: 30px 0 0 103px;
}
#details li:nth-of-type(4){
    margin: 12px 0 0 10px;
}
#details li:nth-of-type(4) img{
    margin: 25px 0 0 40px;
}
#details li:nth-of-type(4) p{
    margin: 30px 0 0 103px;
}
#details li:nth-of-type(5) img{
    margin: 25px 0 0 40px;
}
#details li:nth-of-type(5) p{
    margin: 40px 0 0 103px;
}
#details li:nth-of-type(6){
    margin: 12px 0 0 10px;
}
#details li:nth-of-type(6) img{
    margin: 30px 0 0 85px;
}
#details li:nth-of-type(6) p{
    margin: 23px 0 0 103px;
}
#container .kong{
    width: 100%;
    height: 115px;
}